doctype html
html
  head
    title Početna stranica

    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/css/style.css")

  body
    .header
      if user
        div.profile-container
          img.profile-image(src=JSON.parse(user).picture alt="Profile Picture")
          div.profile-details
            p.profile-name #{JSON.parse(user).name}
            p.profile-email #{JSON.parse(user).email}
            p.profile-sub #{JSON.parse(user).sub}
        button.logout-btn(onclick="location.href='/logout'") Logout
      else
        .user-info Niste prijavljeni
        button.action-btn(onclick="location.href='/login'") Prijava

    a(href="/" style="text-decoration: none; color: black;")
      h1 e-Ulaznice - Početna


    p.ticket-info Broj ukupno generiranih ulaznica:
    pre#result.result Osvježavam...

    button.action-btn(onclick="location.href='/generateTicket'") Kupi ulaznicu

    script.
      function fetchTicketCount() {
        fetch('/ticketCount')
          .then(response => response.json())
          .then(data => {
            document.getElementById('result').textContent =  data.count;
          })
          .catch(error => console.error('Error fetching data', error));
      }

      setInterval(fetchTicketCount, 5000);
      fetchTicketCount();
