doctype html
html
  head
    title Početna stranica
  body
    h1 e-Ulaznice - Početna
    pre#result Osvježavam.
    script.
      function fetchTicketCount() {
        fetch('/ticketCount')
          .then(response => response.json())
          .then(data => {
            document.getElementById('result').textContent = "Broj ukupno generiranih ulaznica: " + data.count;
          })
          .catch(error => console.error('Error fetching data', error));
      }

      setInterval(fetchTicketCount, 5000);
      fetchTicketCount();
    button(onclick="location.href='/ticket'") Kupi ulaznicu
